<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a0dfd572-e064-4d8f-88c6-2959c1403930/resourceGroups/tutorial/providers/Microsoft.Web/sites/tutorialtrial</ResourceId>
    <ResourceGroup>tutorial</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://tutorialtrial.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://tutorialtrial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$tutorialtrial</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>